.VenuesList {
  overflow: hidden;

  &>.venues {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 32px;
    border: none;
    &>.collection-item {
      display: flex;
      padding: 4px;
      &>.icon {
        margin-right: 8px;
        flex: 0;
      }
      &>.desc {
        display: flex;
        flex-direction: column;
        &>.category {
          font-size: 12px;
          color: #333;
        }
      }
    }
  }
}