@import '../../css/vars';
.MapView {
  width: 100%;
  height: 100%;
  &>.content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    &>div {
      height: 100%;
      display: flex;
      flex: 1;
    }
    &>.progress {
      padding: 0;
      margin: 0;
      position: fixed;
      height: 3px !important;
      top: 0px;
    }
    &>.Header {
      padding: 8px;
      display: flex;
      flex: 0 1 80px;
      &>input {
        margin-right: 16px;
      }
    }
    &>.MapView {
      width: 100%;
      flex: 1;
    }
  }
}