@import '../../css/vars';
.Sidebar {
  @media all and (max-width: 900px) {
    display: none;
  }
  background-color: $green;
  padding: 8px 8px 32px 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  &>h1 {
    margin: 0 0 32px 0;
    color: #fff;
    font-weight: bolder;
  }
  &>.VenuesFilter {
    flex: 0;
  }
  &>.VenuesList {
    flex: 1;
  }
}