.GoogleMap {
  width: 100%;
  height: 100%;
  position: relative;
  .MapInfoWindow {
    &>.title {
      display: flex;
      align-items: center;
      &>.icon {
        margin-right: 8px;
      }
      &>.desc{
        display: flex;
        flex-direction: column;
        &>.category{
          font-size: 12px;
          color: #333;
        }
        &>.name {
          flex: 1;
          font-weight: bolder;
          font-size: 18px;
        }
      }
    }
    &>.address {
      margin-top: 8px;
      &>p {
        margin: 0 0 4px 0;
      }
    }
  }
}